<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>StudentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TeacherServlet</servlet-name>
    <servlet-class>TeacherServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>AdminServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>addstudentServlet</servlet-name>
    <servlet-class>com.control.addstudentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>updatestudentServlet</servlet-name>
    <servlet-class>com.control.updatestudentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>addteacherServlet</servlet-name>
    <servlet-class>com.control.addteacherServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdatepswServlet</servlet-name>
    <servlet-class>com.control.UpdatepswServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>listmessageServlet</servlet-name>
    <servlet-class>com.control.listmessageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>addmessageServlet</servlet-name>
    <servlet-class>com.control.addmessageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>uploadServlet</servlet-name>
    <servlet-class>com.control.uploadServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>addanswerServlet</servlet-name>
    <servlet-class>com.control.addanswerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ListspServlet</servlet-name>
    <servlet-class>com.control.ListspServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>listwbServlet</servlet-name>
    <servlet-class>com.control.listwbServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DownServlet</servlet-name>
    <servlet-class>com.control.DownServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BofServlet</servlet-name>
    <servlet-class>com.control.BofServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>listwbsServlet</servlet-name>
    <servlet-class>com.control.listwbsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ReplyServlet</servlet-name>
    <servlet-class>com.control.ReplyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ReplystServlet</servlet-name>
    <servlet-class>com.control.ReplystServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TeacherRlistServlet</servlet-name>
    <servlet-class>com.control.TeacherRlistServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TeacherlistServlrt</servlet-name>
    <servlet-class>com.control.TeacherlistServlrt</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>updatestupswServlet</servlet-name>
    <servlet-class>com.control.updatestupswServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateteapswServlet</servlet-name>
    <servlet-class>com.control.UpdateteapswServlet</servlet-class>
  </servlet>






















  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/servlet/StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherServlet</servlet-name>
    <url-pattern>/servlet/TeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addstudentServlet</servlet-name>
    <url-pattern>/addstudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updatestudentServlet</servlet-name>
    <url-pattern>/updatestudentServlet</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
    <servlet-name>addteacherServlet</servlet-name>
    <url-pattern>/addteacherServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdatepswServlet</servlet-name>
    <url-pattern>/UpdatepswServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>listmessageServlet</servlet-name>
    <url-pattern>/listmessageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addmessageServlet</servlet-name>
    <url-pattern>/addmessageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>uploadServlet</servlet-name>
    <url-pattern>/uploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addanswerServlet</servlet-name>
    <url-pattern>/addanswerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListspServlet</servlet-name>
    <url-pattern>/ListspServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>listwbServlet</servlet-name>
    <url-pattern>/listwbServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownServlet</servlet-name>
    <url-pattern>/DownServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BofServlet</servlet-name>
    <url-pattern>/BofServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>listwbsServlet</servlet-name>
    <url-pattern>/listwbsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReplyServlet</servlet-name>
    <url-pattern>/ReplyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReplystServlet</servlet-name>
    <url-pattern>/ReplystServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherRlistServlet</servlet-name>
    <url-pattern>/TeacherRlistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherlistServlrt</servlet-name>
    <url-pattern>/TeacherlistServlrt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updatestupswServlet</servlet-name>
    <url-pattern>/updatestupswServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateteapswServlet</servlet-name>
    <url-pattern>/UpdateteapswServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
